<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="">
</head>
<body>

  <h1>Exchange Rates</h1>
 <h3>for <%= user.username %></h3>
     <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>

  <form action="/exchanges/search" method="get">
    <input type="text" name="base" placeholder="Type Currency Code">
    <input type="submit" value="Search">
  </form>

  <div class="search-results-container">
    <h2>Search Results</h2>
    <% countries.forEach((item) => { %>
    <div><%= item.name %></div>
    <% }); %>

  <div class="current-rates-container">
      <% let allRates = money.rates;
        for (let code in allRates) { %>
        <div><%= code + ": " + allRates[code] %>
          <form action="exchanges/favorites" method="POST">
            <input type="hidden" name="favorite[rates]" value='<%= code + ": " + allRates[code] %>' >
            <input type="submit" value="SAVE">
          </form>
        </div>
    <% } %>

  </div>
  </div>



  <div class="favorites">

    <h2>Favorites:</h2>
      <% saved.forEach((item) => { %>
        <p><%= item.rates %></p>
        <form action="exchanges/favorites/<%= item._id %>?_method=DELETE" method="post">
          <input type="submit" value="Delete">
        </form>
      <% }) %>

  </div>

</body>
</html>
